@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

body {
    background-color: rgb(63, 62, 62);
    background: url(../images/fouracesbackground.jpg) no-repeat center center fixed;
    background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

p {
  font-size: 40px;
}

/* .quiz-game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
} */

.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 3rem;
  min-width: 50%;
}

.answer-icon {
  color: white;
}

.answer-text {
  width: 100%;
}

.club-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#first-option-cards, #second-option-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.image-size {
    width: 10%;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    width: 40%;
    margin: 10px;
    /* background-color: var(--button-background-colour);
    color: var(--button-text-colour); */
    background-color: white;
    color: black;
    transition: 1s;
    transform: scale(1);
}

.start svg {
    margin: 0.2rem;
    padding: 0.2rem;
    fill: black;
}

.start:hover, .start:focus {
    transform: scale(1.05);
}

.hide {
    display: none;
}

.correct {
    background-color:green;
}
.wrong {
    background-color: red;
}