@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

body {
  background-color: rgb(63, 62, 62);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}

p {
  font-size: 40px;
}

/* .quiz-game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
} */

.answer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  background: rgb(185, 65, 65);
  font-size: 3rem;
  min-width: 50%;
}

.answer-icon {
  color: white;
}

.answer-text {
  width: 100%;
}

.club-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#first-option-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#second-option-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-size {
    width: 10%;
}


.hide {
    display: none;
}

.correct {
    color:green;
}
.wrong {
    color: red;
}