@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

body {
    --black-colour: rgba(41, 35, 38, 1);
    --white-colour: rgba(232, 230, 227, 1);
    --button-background-colour: var(--white-colour);
    color: var(--black-colour);
    background: url(../images/frontpagepoker.jpg) no-repeat center center fixed;
    /* background: url(../images/darkpokerbackground.jpg) no-repeat center center fixed; */
  /* background: url(../images/playingpoker.jpg) no-repeat center center fixed; */
  background-size: cover;
}

body.dark {
    --black-colour: rgba(41, 35, 38, 1);
    --white-colour: rgba(232, 230, 227, 1);
    --button-background-colour: rgba(110,110,110,1);
    color: var(--white-colour);
    /* background: url(../images/frontpagepoker.jpg) no-repeat center center fixed; */
    background: url(../images/darkpokerbackground.jpg) no-repeat center center fixed;
  /* background: url(../images/playingpoker.jpg) no-repeat center center fixed; */
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

.flex-answers-container {
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.flex-container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

/* .flex-answers-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
} */

.grid-container {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); */
    /* gap: 0px 0px; */
}
/* 
.title-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-area: 1 / 1 / 2 / 2;
} */

.question-title {
    padding: 5px;
}

.question-title h1 {
    /* color: white; */
    font-size: 3rem;
    text-align: center;
}

.current-question {
    /* color: white; */
    font-size: 2.5rem;
}

/* .nav-area { grid-area: 1 / 1 / 2 / 2; } */

/* .question-title { grid-area: 2 / 1 / 3 / 2;
} */

.question-area {
  /* grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-area: 2 / 1 / 3 / 2; */
  padding: 5px;
}

/* .diamond-question { grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  text-align: center;
} */

.answers-container {
  /* display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-area: 3 / 1 / 4 / 2;*/
}

.diamond-answers { grid-area: 2 / 2 / 3 / 3;
}

.results-area {
    /* display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-area: 4 / 1 / 5 / 2; */
  padding: 10px;
  margin: 10px;
  width: 50%;
}

.diamond-results { 
    /* display: grid; */
    /* grid-area: 2 / 2 / 3 / 3;  */
    /* grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px; */
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    height: 100%;
}

.diamond-buttons, .next-game-buttons {
    font-size: 1.5vh;
    border: none;
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh 1vw;
    color: currentColor;
    background-color: var(--button-background-colour);
}

.diamond-buttons:hover, .diamond-buttons:focus, .next-game-buttons:hover, .next-game-buttons:focus {
    cursor: pointer;
    box-shadow: 1px 0px 5px 5px rgba(41, 35, 38, 1);
    transform: scale(1.05);
    transition: 1s;
    color: white;
    background-color: rgba(110, 110, 110, 1);
}

.diamond-right-answers {

}


.hide {
    display: none;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    background-color: white;
    top: 15vh;
    left: 15vw;
    right: 15vw;
    bottom: 15vw;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10000;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-bottom: 2px solid black;
    border-radius: 1vh;
}

.modal-title {
    font-size: 2vh;
}

/* .close {
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
} */

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 2vh;
}

.modal-body h1 {
    font-size: 3vh;
    text-align: center;
    padding: 1vh;
}

.active {
    transform: scale(1);
}

.overlay {
    position: fixed;
    opacity: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    pointer-events: none;
}

#score {
    font-size: 5vh;
    text-align: center;
}

#next-games, #go-home {
    display: flex;
    padding: 1vh;
}