/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

body {
  --black-colour: rgba(41, 35, 38, 1);
  --white-colour: rgba(232, 230, 227, 1);
  --button-background-colour: var(--white-colour);
  --modal-colour: white;
  --modal-background-colour: rgba(157, 35, 29, 0.2);
  color: var(--black-colour);
  background: url(../images/frontpagepoker.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;

  -webkit-animation: body-load 3s;

          animation: body-load 3s;
}

body.dark {
  --black-colour: rgba(41, 35, 38, 1);
  --white-colour: rgba(232, 230, 227, 1);
  --button-background-colour: rgba(110, 110, 110, 1);
  --modal-colour: rgba(128, 128, 128, 0.85);
  --modal-background-colour: rgba(157, 35, 29, 0.7);
  color: var(--white-colour);
  background: url(../images/darkpokerbackground.jpg) no-repeat center center
    fixed;
  background-size: cover;
}

@-webkit-keyframes body-load {
  0% {
    opacity: 0;
    -webkit-transform: scaleZ(0);
            transform: scaleZ(0);
  }
  100% {
    -webkit-transform: scaleZ(2);
            transform: scaleZ(2);
    opacity: 1;
  }
}

@keyframes body-load {
  0% {
    opacity: 0;
    -webkit-transform: scaleZ(0);
            transform: scaleZ(0);
  }
  100% {
    -webkit-transform: scaleZ(2);
            transform: scaleZ(2);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

.heart-column h1 {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#message {
  font-size: 5vh;
  text-align: center;
  padding: 5vh;
}

.pair-game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

.navbar {
    width: 100%;
  padding: 2vh;
}

.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3vh;
}

.nav-links ul li {
  list-style: none;
  padding: 2vh;
  border: 1px solid currentColor;
  border-radius: 10px;
  width: 35vw;
  text-align: center;
  margin: 0.5vh;
  background-color: var(--button-background-colour);
}

.nav-links ul a {
  text-decoration: none;
  color: currentColor;
  margin: 0.5vh;
}

.nav-links ul li:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

#hand-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#hand-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.answer-text {
  width: 100%;
}

.heart-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#question {
  -webkit-animation: question-load 5s;
          animation: question-load 5s;
}

@-webkit-keyframes question-load {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes question-load {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.next-button,
#start {
  border-radius: 10px;
  font-size: 4vh;
  border: none;
  -webkit-animation: next-button 5s;
          animation: next-button 5s;
  color: currentColor;
  cursor: pointer;
  background-color: var(--button-background-colour);
  margin-left: 32vw;
  margin-right: 32vw;
  padding: 1vh;
}

#start svg {
    margin-left: 0.5vh;
    padding: 0.5vh;
    fill: currentColor;
}

.next-button:hover {
    -webkit-transition: 1s;
  -o-transition: 1s;
    transition: 1s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes next-button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes next-button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-one {
  width: 50%;
  -webkit-animation: img-load 6s;
          animation: img-load 6s;
}

@-webkit-keyframes img-load {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes img-load {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.img-two {
  width: 50%;
  -webkit-animation: imgtwo-load 3s;
          animation: imgtwo-load 3s;
}

@-webkit-keyframes imgtwo-load {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes imgtwo-load {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.message-text {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  margin-left: 25%;
  margin-right: 25%;
  -webkit-animation: message-load 3s;
          animation: message-load 3s;
}

@-webkit-keyframes message-load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes message-load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.next-game-buttons {
  font-size: 1.5vh;
  border: none;
  border-radius: 1vh;
  padding: 2vh;
  margin: 1vh 1vw;
  color: currentColor;
  min-width: 30%;
  background-color: var(--button-background-colour);
}

.next-game-buttons:hover,
.next-game-buttons:focus {
  cursor: pointer;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: currentColor;
}

.next-game-buttons:disabled {
    cursor: not-allowed;
}

.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: var(--modal-colour);
  top: 15vh;
  left: 15vw;
  right: 15vw;
  /* bottom: 15vw; */
  border-radius: 10px;
  z-index: 10000;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh;
  border-bottom: 2px solid currentColor;
  border-radius: 1vh;
  margin: 2vh;
}

.modal-title {
  font-size: 2vh;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2vh;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--modal-background-colour);
}

.modal-body h1 {
  font-size: 3vh;
  text-align: center;
  padding: 1vh;
}

.save-scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.save-scores input {
  border: none;
  text-align: center;
  margin: 1%;
  padding: 1%;
}

.overlay {
  position: fixed;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  background: url(../images/flyingcards.jpg) no-repeat center center fixed;
  background-size: cover;
  pointer-events: none;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.fade {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
       -o-transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
          transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
}
.active {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.not-active {
  -webkit-transition: 5s;
  -o-transition: 5s;
  transition: 5s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

#score {
  font-size: 5vh;
  text-align: center;
}

#next-games,
#go-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 75%;
  margin: 10px;
  background-color: var(--button-background-colour);
  color: var(--button-text-colour);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.toggle-button svg {
  padding: 5px;
  fill: var(--button-text-colour);
}

.toggle-button:hover,
.toggle-button:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.social-links {
  padding: 1vh;
}

.social-links i {
  color: var(--black-colour);
}

body.dark .social-links i {
  color: var(--white-colour);
}