@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

body {
  background-color: rgb(63, 62, 62);
  background: url(../images/backgroundheartgame.jpg) no-repeat center center fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

.heart-column h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}

#message {
  font-size: 2rem;
  text-align: center;
  color: white;

}

.pair-game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.hand-container {
  display: flex;
}

.answer-text {
  width: 100%;
}

.heart-column {
  display: flex;
  flex-direction: column;
}


.hide {
    display: none ;
}


.flex-container {
    display: flex;
    justify-content: space-around;
}

#question {
    animation: question-load 5s;
}

@keyframes question-load {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.next-button, #start {
    border-radius: 10px;
    font-size: 2rem;
    border: none;
    animation: next-button 5s;
    
}

#next:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px white;
    
}

@keyframes next-button {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-one {
    animation: img-load 6s;
}

@keyframes img-load {
    0% {
        transform: translateX(-25%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.img-two {
    animation: imgtwo-load 3s;
}

@keyframes imgtwo-load {
    0% {
        transform: translateX(25%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.message-text {
    animation: message-load 3s;
}

@keyframes message-load {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
    }
}

.next-game-buttons {
    font-size: 1.5vh;
    border: none;
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh 1vw;
}

.next-game-buttons:hover, .next-game-buttons:focus {
    cursor: pointer;
    box-shadow: 1px 0px 5px 5px rgba(41, 35, 38, 1);
    transform: scale(1.05);
    transition: 1s;
    color: white;
    background-color: rgba(110, 110, 110, 1);
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    background-color: white;
    top: 15vh;
    left: 15vw;
    right: 15vw;
    bottom: 15vw;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10000;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-bottom: 2px solid black;
    border-radius: 1vh;
}

.modal-title {
    font-size: 2vh;
}

/* .close {
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
} */

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 2vh;
}

.modal-body h1 {
    font-size: 3vh;
    text-align: center;
    padding: 1vh;
}

.active {
    transform: scale(1);
}

.overlay {
    position: fixed;
    opacity: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    pointer-events: none;
}

#score {
    font-size: 5vh;
    text-align: center;
}

#next-games, #go-home {
    display: flex;
    padding: 1vh;
}