@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");


body {
    --black-colour: rgba(41, 35, 38, 1);
    --white-colour: rgba(232, 230, 227, 1);
    --button-background-colour: var(--white-colour);
    --modal-colour: white;
    --modal-background-colour: rgba(157,35,29,0.2);
    color: var(--black-colour);
    background: url(../images/frontpagepoker.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
    transition: 1s;

    animation: body-load 3s;

}

body.dark {
    --black-colour: rgba(41, 35, 38, 1);
    --white-colour: rgba(232, 230, 227, 1);
    --button-background-colour: rgba(110,110,110,1);
    --modal-colour: rgba(128, 128, 128, 0.85);
    --modal-background-colour: rgba(157, 35, 29, 0.7);
    color: var(--white-colour);
    background: url(../images/darkpokerbackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

@keyframes body-load {
    0% {
        opacity: 0;
        transform: scaleZ(0);
    }
    100% {
        transform: scaleZ(2);
        opacity: 1;
    }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

.heart-column h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

#message {
  font-size: 5vh;
  text-align: center;
  padding: 5vh;

}

.pair-game-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  min-height: 100%;
}


#hand-one {
    display: flex;
    justify-content: flex-end;
}

#hand-two {
    display: flex;
    justify-content: flex-start;
}

.answer-text {
  width: 100%;
}

.heart-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}


.hide {
    display: none ;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#question {
    animation: question-load 5s;
}

@keyframes question-load {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.next-button, #start {
    border-radius: 10px;
    font-size: 2rem;
    border: none;
    animation: next-button 5s;
    color: currentColor;
    cursor: pointer;
    background-color: var(--button-background-colour);
    margin-left: 25%;
    margin-right: 25%;
    
}

.next-button:hover {
    transform: scale(1.05);
    
}

@keyframes next-button {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-one {
    width: 50%;
    animation: img-load 6s;
}

@keyframes img-load {
    0% {
        transform: translateX(-25%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.img-two {
    width: 50%;
    animation: imgtwo-load 3s;
}

@keyframes imgtwo-load {
    0% {
        transform: translateX(25%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.message-text {
    animation: message-load 3s;
}

@keyframes message-load {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
    }
}

.next-game-buttons {
    font-size: 1.5vh;
    border: none;
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh 1vw;
    color: currentColor;
    background-color: var(--button-background-colour);
}

.next-game-buttons:hover, .next-game-buttons:focus {
    cursor: pointer;
    box-shadow: 1px 0px 5px 5px rgba(41, 35, 38, 1);
    transform: scale(1.05);
    transition: 1s;
    color: currentColor;
    background-color: var(--button-background-colour);
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    background-color: var(--modal-colour);
    top: 15vh;
    left: 15vw;
    right: 15vw;
    bottom: 15vw;
    border-radius: 10px;
    z-index: 10000;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-bottom: 2px solid currentColor;
    border-radius: 1vh;
    margin: 2vh;
}

.modal-title {
    font-size: 2vh;
}


.modal-body {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 2vh;
    width: 100%;
    background-color: var(--modal-background-colour);
}


.modal-body h1 {
    font-size: 3vh;
    text-align: center;
    padding: 1vh;
}



.overlay {
    position: fixed;
    opacity: 0.1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    background: url(../images/deckofcards.jpg) no-repeat center center fixed;
    background-size: cover;
    pointer-events: none;
    transform: scale(0);
}

.fade {
    transition: 1s;
    transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
}
.active {
    transition: 2s;
    transform: scale(1);
}

.not-active {
    transition: 5s;
    transform: scale(0);
}

#score {
    font-size: 5vh;
    text-align: center;
}

#next-games, #go-home {
    display: flex;
    padding: 1vh;
}

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 75%;
    margin: 10px;
    background-color: var(--button-background-colour);
    color: var(--button-text-colour);
    transition: 1s;
    transform: scale(1);
}

.toggle-button svg {
    padding: 5px;
    fill: var(--button-text-colour);
}

.toggle-button:hover, .toggle-button:focus {
    transform: scale(1.05);
}

footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.social-links {
    padding: 1vh;
}

.social-links i {
    color: var(--black-colour);
}

body.dark .social-links i {
    color: var(--white-colour)
}