@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

body {
  background-color: rgb(63, 62, 62);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}

p {
  font-size: 40px;
}

.pair-game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.hand-container {
  display: flex;
}

.answer-text {
  width: 100%;
}

.heart-column {
  display: flex;
  flex-direction: column;
}


.hide {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

#question {
    animation: question-load 5s;
}

@keyframes question-load {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#next, #start {
    border-radius: 10px;
    font-size: 2rem;
    border: none;
    animation: next-button 5s;
    
}

#next:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px white;
    
}

@keyframes next-button {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-one {
    animation: img-load 5s;
}

@keyframes img-load {
    0% {
        transform: translateX(-25%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.img-two {
    animation: imgtwo-load 5s;
}

@keyframes imgtwo-load {
    0% {
        transform: translateX(25%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.message-text {
    animation: message-load 6s;
}

@keyframes message-load {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}