@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

body {
    --red-colour: rgba(157, 35, 29, 1);
    --black-colour: rgba(41, 35, 38, 1);
    --white-colour: rgba(232, 230, 227, 1);
    --background-colour: var(--white-colour);
    --button-text-colour: var(--black-colour);
    background: url(../images/frontpagepoker.jpg) no-repeat center center fixed;
    background-color: var(--white-colour);
    background-size: cover;
    animation: body-load 5s;
    color: var(--black-colour);
    transition: 1s;
    height: 100vh;

}

body.dark {
    background: url(../images/darkpokerbackground.jpg) no-repeat center center fixed;
    background-size: cover;
    --white-colour: rgba(232, 230, 227, 1);
    --black-colour: rgba(41, 35, 38, 1);
    background-color: var(--black-colour);
    --background-colour: var(--black-colour);
    --button-text-colour: var(--white-colour);
    color: var(--white-colour);

    
    animation: body-load 5s;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    min-height: 100%;
}

.title-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: var(--background-colour);
    color: var(--button-text-colour);
    transition: 1s;
}

.header-button svg {
    padding: 5px;
    fill: var(--button-text-colour);
}

.title-container p {
    animation: text-load 3s;
    margin: 10px;
    text-align: center;
}

.flex-container-scores {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.latest-scores {
    background-color: var(--background-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    gap: 2vh;
    margin: 0.5vh;
    overflow: scroll;
    height: 300px;
    width: 200px;
}

.latest-scores h1 {
    font-size: 2vh;
}

.latest-scores p {
    margin: 10px;
    text-align: center;
}

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 75%;
    margin: 10px;
    background-color: var(--background-colour);
    color: var(--button-text-colour);
    transition: 1s;
    transform: scale(1);
}

.toggle-button svg {
    padding: 5px;
    fill: var(--button-text-colour);
}

.toggle-button:hover, .toggle-button:focus {
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    flex-grow: 1;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.social-links {
    padding: 1vh;
}

.social-links i {
    color: currentColor;
}

a {
    color: currentColor;
    text-decoration: none;
}