@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

.score-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100vh;
}

.latest-scores {
    background-color: red;
}
