@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");


body {
    --black-colour: rgba(41, 35, 38, 1);
    --white-colour: rgba(232, 230, 227, 1);
    --button-background-colour: var(--white-colour);
    color: var(--black-colour);
    background: url(../images/frontpagepoker.jpg) no-repeat center center fixed;
  background-size: cover;
    transition: 1s;

    animation: body-load 3s;

}

body.dark {
    --black-colour: rgba(41, 35, 38, 1);
    --white-colour: rgba(232, 230, 227, 1);
    --button-background-colour: rgba(110,110,110,1);
    color: var(--white-colour);
    background: url(../images/darkpokerbackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

@keyframes body-load {
    0% {
        opacity: 0;
        transform: scaleZ(0);
    }
    100% {
        transform: scaleZ(2);
        opacity: 1;
    }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#game-start h1 {
    text-align: center;
    padding: 3vh;
    background-color: var(--button-background-colour);
    border-radius: 10px;
}

.card-game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    background-color: var(--button-background-colour);
    padding: 1vh;
    border-radius: 10px;
}

.card-board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;

}


.card-game-container img {
    width: 15%;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 10;
}

.question-container p {
    margin: 2vh;
    padding: 2vh;
    text-align: center;
    font-size: 100%;
    background-color: var(--button-background-colour);
    outline: none;
    border-radius: 2vh;

}

.card-board-container img {
    width: 15%;
    cursor: pointer;
}

.results-container {
    display: flex;
    background-color: var(--button-background-colour);
    padding: 2vh;
    margin: 2vh;
    border-radius: 2vh;
}


.start {
    animation: next-button 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    width: 10rem;
    margin: 50px;
    color: currentColor;
    background-color: var(--button-background-colour);
    transition: 1s;
    transform: scale(1);
}

#start svg {
    margin: 5px;
    padding: 5px;
    color: currentColor;
    fill: currentColor;
}

#start:hover, #start:focus {
    transform: scale(1.05);
    outline: none;
    
}

@keyframes next-button {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-options {
    animation: card-options 3s ease-in;
}

@keyframes card-options {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card-board-fade {
    animation: card-board-fade 2s ease-in;
}

@keyframes card-board-fade {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-picked {
    animation: card-picked 1s;
}

@keyframes card-picked {
    0% {
        transform: translateX(-25%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.card-answer {
    animation: picked-card 4s;
    transform: scale(0);
}

@keyframes picked-card {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 1;
    }
}

.question-fade {
    animation: question-fade 2s;
}

@keyframes question-fade {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hide {
    display: none;
}

.next-game-buttons {
    font-size: 1.5vh;
    border: none;
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh 1vw;
}

.next-game-buttons:hover, .next-game-buttons:focus {
    cursor: pointer;
    box-shadow: 1px 0px 5px 5px rgba(41, 35, 38, 1);
    transform: scale(1.05);
    transition: 1s;
    background-color: var(--button-background-colour);
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    background-color: white;
    top: 15vh;
    left: 15vw;
    right: 15vw;
    bottom: 15vw;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10000;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-bottom: 2px solid black;
    border-radius: 1vh;
}

.modal-title {
    font-size: 2vh;
}


.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 2vh;
}

.modal-body h1 {
    font-size: 3vh;
    text-align: center;
    padding: 1vh;
}

.active {
    transform: scale(1);
}

.overlay {
    position: fixed;
    opacity: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    pointer-events: none;
}

#score {
    font-size: 5vh;
    text-align: center;
}

#next-games, #go-home {
    display: flex;
    padding: 1vh;
}

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 75%;
    margin: 10px;
    background-color: var(--button-background-colour);
    color: var(--button-text-colour);
    transition: 1s;
    transform: scale(1);
}

.toggle-button svg {
    padding: 5px;
    fill: var(--button-text-colour);
}

.toggle-button:hover, .toggle-button:focus {
    transform: scale(1.05);
}

footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.social-links {
    padding: 1vh;
}

.social-links i {
    color: var(--black-colour);
}

body.dark .social-links i {
    color: var(--white-colour)
}