@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

body {
    --red-colour: rgba(157, 35, 29, 1);
    --black-colour: rgba(41, 35, 38, 1);
    --white-colour: rgba(232, 230, 227, 1);
    --button-background-colour: var(--white-colour);
    background: url(../images/frontpagepoker.jpg) no-repeat center center fixed;
    background-color: var(--white-colour);
    background-size: cover;
    animation: body-load 5s;
    color: var(--black-colour);
    transition: 1s;

}

body.dark {
    background: url(../images/darkpokerbackground.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: var(--black-colour);
    --button-background-colour: var(--black-colour);
    --button-text-colour: var(--white-colour);
    color: var(--white-colour);

    
    animation: body-load 5s;
}

body.dark .suit {
    transition: 1s;
    background-color: pink;
}
body.dark .suit:hover, body.dark .suit:focus {
    transition: 1s;
    background-color: white;
}

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 10px;
    background-color: var(--button-background-colour);
    color: var(--button-text-colour);
    transition: 1s;
    transform: scale(1);
}

.toggle-button svg {
    padding: 5px;
    fill: var(--button-text-colour);
}

.toggle-button:hover, .toggle-button:focus {
    transform: scale(1.05);
}

.suits.diamond-area, .suits.heart-area {
    animation: suits-load 3s;
}

.suits .diamond-area, .suits .heart-area {
    animation: suits-load-red 3s;
}

.title-container button {
    animation: button-load 3s;
}

@keyframes button-load {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.title-container p {
    animation: text-load 3s;
}

@keyframes text-load {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes suits-load-red {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.suits .club-area, .suits .spade-area {
    animation: suits-load-black 3s;
}

@keyframes suits-load-black {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes body-load {
    0% {
        opacity: 0;
        transform: scaleZ(0);
    }
    100% {
        transform: scaleZ(2);
        opacity: 1;
    }
}




.suits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  
}

.title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title-container p {
    padding: 5px;
}

.suits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 30px;
  transform: scale(1);
  
}

.suit {
    transition: 1s;
    font-size: 10rem;
    margin: 0;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.suit-diamond, .suit-heart {
    color: var(--red-colour)
}

.suit-club, .suit-spade {
    color: var(--black-colour)
}

.suit:hover, .suit:focus {
    background-color: pink;
    cursor: pointer;
    box-shadow: 1px 0px 5px 5px rgba(41, 35, 38, 1);
    transition: 1s;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    background-color: white;
    top: 15vh;
    left: 15vw;
    right: 15vw;
    bottom: 15vw;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10000;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-bottom: 2px solid black;
    border-radius: 1vh;
}

.modal-title {
    font-size: 2vh;
}

/* .close {
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
} */

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 2vh;
}

.modal-body h1 {
    font-size: 3vh;
    text-align: center;
    padding: 1vh;
}



.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    background: url(../images/deckofcards.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.1;
    transform: scale(0);
    pointer-events: all;

}

.fade {
    transition: 1s;
    transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
}
.active {
    transition: 2s;
    transform: scale(1);
}
.not-active {
    transition: 2s;
    transform: scale(0);
}

/* .modal-backdrop {
    
}

.modal-backdrop.show {
    
} */