@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

body {
    background: url(../images/frontpagepoker.jpg) no-repeat center center fixed;
  background-size: cover;
  animation: body-load 5s;
}

@keyframes body-load {
    0% {
        opacity: 0;
        transform: scaleZ(0);
    }
    100% {
        transform: scaleZ(2);
        opacity: 1;
    }
}

.fade {
    transition: 1s;
    transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
}

.modal-backdrop {
    background: url(../images/deckofcards.jpg) no-repeat center center fixed;
    background-size: cover;
}

.modal-backdrop.show {
    opacity: 0.05;
}

.modal {
    margin-top: 300px;
}


.suits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  
}

.title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.suits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 30px;
  animation: suits-load 3s;
}

@keyframes suits-load {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}



.suit {
    font-size: 10rem;
    margin: 0;
    border-radius: 10px;
    text-align: center;
    background-color: pink;
}

.suit-diamond, .suit-heart {
    color: rgba(157, 35, 29, 1);
}

.suit-club, .suit-spade {
    color: rgba(41, 35, 38, 1);
}

.suit:hover{
    background-color: white;
    cursor: pointer;
    box-shadow: 1px 0px 5px 5px rgba(41, 35, 38, 1);
    transition: 1s;
}

a {
    text-decoration: none;
}