/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

body {
  --red-colour: rgba(157, 35, 29, 1);
  --black-colour: rgba(41, 35, 38, 1);
  --white-colour: rgba(232, 230, 227, 1);
  --button-background-colour: var(--white-colour);
  background: url(../images/frontpagepoker.jpg) no-repeat center center fixed;
  background-color: var(--white-colour);
  background-size: cover;
  -webkit-animation: body-load 5s;
          animation: body-load 5s;
  color: var(--black-colour);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 100vh;
}

body.dark {
  background: url(../images/darkpokerbackground.jpg) no-repeat center center
    fixed;
  background-size: cover;
  background-color: var(--black-colour);
  --button-background-colour: var(--black-colour);
  --button-text-colour: var(--white-colour);
  color: var(--white-colour);

  -webkit-animation: body-load 5s;

          animation: body-load 5s;
}

body.dark .suit {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: pink;
}
body.dark .suit:hover,
body.dark .suit:focus {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: var(--button-background-colour);
  color: var(--button-text-colour);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.navbar {
  padding: 2vh;
}

.nav-links {
  width: 50vh;
}

.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3vh;
}

.nav-links ul li {
  list-style: none;
  padding: 2vh;
  border: 1px solid currentColor;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin: 0.5vh;
  background-color: var(--button-background-colour);
}

.nav-links ul li:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

#about-button,
#contact-button {
  cursor: pointer;
}

.nav-links ul li a {
  color: currentColor;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}

label {
  padding: 0.2vh;
  font-size: 1.5vh;
}

input {
  font-size: 1vh;
}

textarea {
  overflow: scroll;
  max-height: 15vh;
  min-width: 35vh;
  font-size: 1.5vh;
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 75%;
  margin: 10px;
  background-color: var(--button-background-colour);
  color: var(--button-text-colour);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.toggle-button svg {
  padding: 5px;
  fill: var(--button-text-colour);
}

.toggle-button:hover,
.toggle-button:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.suits.diamond-area,
.suits.heart-area {
  -webkit-animation: suits-load 3s;
          animation: suits-load 3s;
}

.suits .diamond-area,
.suits .heart-area {
  -webkit-animation: suits-load-red 3s;
          animation: suits-load-red 3s;
}

.title-container .header {
  -webkit-animation: button-load 3s;
          animation: button-load 3s;
}

.header svg {
  padding: 5px;
  fill: var(--button-text-colour);
}

.toggle-button:hover,
.toggle-button:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes button-load {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes button-load {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header p {
  -webkit-animation: text-load 3s;
          animation: text-load 3s;
  margin: 10px;
  text-align: center;
}

@-webkit-keyframes text-load {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes text-load {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes suits-load-red {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes suits-load-red {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.suits .club-area,
.suits .spade-area {
  -webkit-animation: suits-load-black 3s;
          animation: suits-load-black 3s;
}

@-webkit-keyframes suits-load-black {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes suits-load-black {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes body-load {
  0% {
    opacity: 0;
    -webkit-transform: scaleZ(0);
            transform: scaleZ(0);
  }
  100% {
    -webkit-transform: scaleZ(2);
            transform: scaleZ(2);
    opacity: 1;
  }
}

@keyframes body-load {
  0% {
    opacity: 0;
    -webkit-transform: scaleZ(0);
            transform: scaleZ(0);
  }
  100% {
    -webkit-transform: scaleZ(2);
            transform: scaleZ(2);
    opacity: 1;
  }
}

.suits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100%;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.suits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 30px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.suit {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-size: 10rem;
  margin: 0;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.suit-diamond,
.suit-heart {
  color: var(--red-colour);
}

.suit-club,
.suit-spade {
  color: var(--black-colour);
}

.suit:hover,
.suit:focus {
  background-color: rgba(157, 35, 29, 0.2);
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 5px 5px rgba(41, 35, 38, 1);
          box-shadow: 1px 0px 5px 5px rgba(41, 35, 38, 1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

a {
  text-decoration: none;
}

.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: white;
  top: 15vh;
  left: 15vw;
  right: 15vw;
  /* bottom: 15vw; */
  border: 2px solid black;
  border-radius: 10px;
  z-index: 10000;
}

body.dark .modal {
  background-color: rgba(128, 128, 128, 0.85);
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh;
  border-bottom: 2px solid black;
  border-radius: 1vh;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vh;
  gap: 0.5vh;
}

.close {
  font-size: 2vh;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2vh;
  gap: 3vh;
}

.modal-body ul {
  font-size: 1.5vh;
  padding: 1vh;
  margin: 1vh;
}

.modal-body.black {
  background-color: rgba(0, 0, 0, 0.2);
}

body.dark .modal-body.black {
  background-color: rgba(0, 0, 0, 0.7);
}

body.dark .modal-body.black a,
body.dark .modal-body.black svg {
  color: white;
  fill: white;
}
body.dark .modal-body.red a,
body.dark .modal-body.red svg {
  color: white;
  fill: white;
}

.modal-body.red {
  background-color: rgba(157, 35, 29, 0.2);
}

body.dark .modal-body.red {
  background-color: rgba(157, 35, 29, 0.7);
}

.modal-body p {
  font-size: 3vh;
  text-align: center;
  padding: 1vh;
}

.modal-body li {
  padding: 1vh;
}

.modal-body a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 2vh;
  gap: 1vh;
}

.modal-body svg {
  fill: black;
}

.modal-body .play-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5vh;
  border: none;
  border-radius: 1vh;
  padding: 0.8vh;
  margin: 1vh 1vw;
  background-color: rgba(110, 110, 110, 0.8);
  width: 15vh;
}

.modal-body .play-link:hover,
.modal-body .play-link:focus {
  
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: white;
  background-color: rgba(110, 110, 110, 1);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  background: url(../images/deckofcards.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  pointer-events: all;
}

.fade {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
       -o-transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
          transition-timing-function: cubic-bezier(1, 0.18, 0.9, 0.99);
}
.active {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.not-active {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.social-links {
  padding: 1vh;
}

.social-links i {
  color: var(--black-colour);
}

body.dark .social-links i {
  color: var(--white-colour);
}

.hide {
    display: none;
}