@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

body {
  background-color: rgb(187, 141, 141);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crete Round", serif;
}

h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}

h3 {
  font-size: 40px;
  margin-bottom: 40px;
}

.home-container {
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
}
